<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <!-- Vue指令  V-for 
1.作用：基于数据循环，多次渲染整个元素  ->数组、对象、数字
2.遍历数组语法：
v-for="(item,index)in 数组"
item每一项 index下标-->

  <div id="app">
    <h3>小黑水果店</h3>
    <ul>
      <li>捣蛋猫</li>
      <li>疾旋鼬</li>
      <li>珊瑚宫心海</li>
    </ul>
  </div>
</body>

<div id="fruit">
  <h3>小黑水果店</h3>
  <ul>
    <li v-for="(item,index) in list">{{item}}</li>

  </ul>
</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<script>
  const fruit = new Vue({
    el: "#fruit",
    data: {
      list: ['捣蛋猫', '疾旋鼬', '珊瑚宫心海', '绷带']


    }

  })
</script>

</html>